* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
}

:root {
    --color-primary: #fefefe;
    --color-yellow: #fed701;
    --color-darkblue: #02c9da;
    --color-lightblue: #85dbf2;
    --color-dark: #191919;
    --gutter: 1rem;
    --font-header: 'Montserrat', sans-serif;
    --font-body: 'Source Sans Pro', sans-serif;
}


/*Zapis na premierę*/


.contactSection {
    margin: auto;
    background: var(--color-dark);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dataForm {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
}

.dataForm__header {
    font-size: 3rem;
    font-family: var(--font-header);
    padding: 10px;
    text-align: center;
    color: var(--color-darkblue);
}

.dataForm__textInfo {
    font-size: 1.3rem;
    padding: 15px;
    text-align: center;
    line-height: 2rem;
    font-family: var(--font-body);
}

.dataForm__form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dataForm__form .label {
    font-family: var(--font-body);
    font-weight: bold;
    margin-top: 5px;
    font-size: 1.2rem;
}

.dataForm__form .dataBox {
    margin: 10px;
    height: 50px;
    /* width: 40vw; */
    max-width: 500px;
}

.dataForm__form .agreementBlock {
    display: flex;
    padding: 10px;
    align-items: center;
}

.dataForm__form .agreementBlock .agreementText {
    padding: 10px;
    font-family: var(--font-body);
}

.dataForm__form .submitInput {
    background-color: var(--color-lightblue);
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
}

.dataForm__form .submitInput:hover {
     background-color: var(--color-darkblue);
     font-size: 1.3rem;
}

.dataForm__clause {
    margin: 15px;
    font-size: 0.8rem;
    font-style: italic;
    font-family: var(--font-body);
}

.dataForm__clause a {
    text-decoration: none;
    color: var(--color-darkblue);
}


@media (max-width: 600px) {
    .contactSection {
        height: auto;
    }

    .dataForm {
        height: 100%; 
    }

    .dataForm__header {
        font-size: 2rem;
    }

    .dataForm__textInfo {
        font-size: 1.1rem;
    }
}