* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    height: 100%;
}

:root {
    --color-primary: #fefefe;
    --color-yellow: #fed701;
    --color-darkblue: #02c9da;
    --color-lightblue: #85dbf2;
    --color-dark: #191919;
    --gutter: 1rem;
    --font-header: 'Montserrat', sans-serif;
    --font-body: 'Source Sans Pro', sans-serif;
}


/*Zapis na premierę*/


.sendEmail__section {
    margin: auto;
    background: #191919;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sendEmail__infoBox {
    width: 600px;
    border: 1px solid #fed701;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fefefe;
    margin:20px;
 
}


.sendEmail__header {
    font-size: 50px;
    font-family: var(--font-header);
    padding: 10px;
    text-align: center;
    color: #02c9da;
}

.sendEmail__textInfo {
    font-size: 1.3rem;
    padding: 15px;
    text-align: center;
    line-height: 2rem;
    font-family: var(--font-body);
}

.sendEmail__form {
    padding: 10px;
}

.sendEmail__form > input:first-child {
    margin: 10px;
    height: 50px;
    width: 40vw;
    max-width: 500px;
}

.sendEmail__form .checkbox {
    display: flex;
    padding: 10px;
}

.sendEmail__form .checkbox span:nth-child(2) {
    padding: 10px;
    font-family: var(--font-body);
}

.sendEmail__form input:nth-child(3) {
    background-color: #85dbf2;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 10px;
 }

.sendEmail__form input:nth-child(3):hover {
     background-color: #02c9da;
     font-size: 1.3rem;
 }

.sendEmail__clause {
    margin: 15px;
    font-size: 0.8rem;
    font-style: italic;
    font-family: var(--font-body);
}

.sendEmail__clause a {
    text-decoration: none;
    color: #85dbf2;
}


@media (max-width: 600px) {
    .sendEmail__section {
        height: 100%;
    }
    .sendEmail__infoBox {
        height: 100%; 
    }

    .sendEmail__form > input:first-child {
        width: 60vw;
    }
}