:root {
    --primary-color:;
    --secondary-color:;
    --font-color:;
    --logo-color:;
    --serif-font:;
    --sansserif-font:;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    height: 100%;
    width: 100%;
}

.headline {
    display: flex;
    margin: 24px;
}

/* LOGO */

.logo {
    flex: 1 0 auto;
} 

/* NAVIGATION */

.navigation {
    flex: 3 0 auto;
}

.navigation__buttons {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
}

/* ACCOUNT */

.account {
    flex: 1 0 auto;
    display: flex;
    justify-content: flex-end;
}

.account__logIn, .account__signIn {
    width: 32px;
    height: 32px;
}

.account__logIn {
    margin-right: 16px;
}