* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #fefefe;
    --color-yellow: #fed701;
    --color-darkblue: #02c9da;
    --color-lightblue: #85dbf2;
    --color-lightgray: #f6f6f6;
    --color-darkgray: #626262;
    --color-dark: #191919;
}


.game-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--color-darkblue);
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}
    
.game-title {
    height: 150px;
    width: 100vw;
    display: flex;
    position: relative;  
    margin: 10px;
    justify-content: center;  
}

.H6-logo {
    height: 150px;
    width: auto;
}

.world {
    width: 800px;
    height: 600px;
    padding: 0;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    position: relative;
    /* overflow: hidden; */
 
}

.backgroundRight {
    height: 600px;
    width: 400px;
    background-color: var(--color-darkblue);
    display: flex;
    position: absolute;
    right: -400px;
    z-index: 99;
}

.backgroundLeft {
    height: 600px;
    width: 400px;
    background-color: var(--color-darkblue);
    display: flex;
    position: absolute;
    left: -400px;
    z-index: 99;
}

.life {
    position: absolute;
    top: 0;
}

 /* backgraund test animation movement */

.background {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(images/clouds1-800x600.png),
                      url(images/clouds2-800x600.png),
                      url(images/background2-800x600.png),
                      url(images/background1-800x600.png);               
    background-size: 100%;
    background-position: 0px 0px;
    animation: backgroundAnimation 200s linear infinite;
    
}




@keyframes backgroundAnimation {
    100% {
        background-position: -1200vw 0px,
                             -1200vw 0px,
                             -1200vw 0px,
                             -1200vw 0px;
     };   
}

.player {
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 4;
    overflow: hidden;
    
}

 /* PLAYER animation movement */

.player-movement {
    animation: fly-movement .4s steps(12) infinite;
    width: 1200px;
    height: 200px;
    position: relative;
    
}

.flyRight {
top: 0;
}

.flyLeft {
top: -100px;
}


@keyframes fly-movement {
    from {
        transform: translate3d(0px,0,0)
    }
    to {
        transform: translate3d(-100%,0,0)
    }
}

 /* OBSTACLES */

.tree {
    position: absolute;
    bottom: 0;
    width: 230px;
    background: url(images/tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
}

.sunbed {
    position: absolute;
    bottom: 0;
    width: 230px;
    background: url(images/sunbed.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

.pigeon {
    position: absolute;
    width: 75px;
    height: 75px;
    overflow: hidden;
    z-index: 1;
}
.pigeon-movement {
    animation: fly-movement .4s steps(8) infinite;
    width: 600px;
    height: 75px;
    position: relative;
}

.heart {
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 40px;
}

/* GAME OVER */

.gameOver {
    position: absolute;
    width: 799px;
    height: 599px;
    /* top: 10px; */
    background: url(images/GAMEOVER.png);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 4;
}
